/* Stylesheet for ... App */

// vars
$main-blue: #363E84;
$dark-blue: #171A38;
$white: #fafafc;

// main style for the center layout
body {
  background: $white;
  color: black;
  background: url(images/background.jpg) no-repeat center center fixed;
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 2vh;
}
.wrapper {
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
}
.main {
  height: 100%;
  display: table;
  width: 100%;
}
.box {
  //height: 100%;
  display: table-cell;
  vertical-align: middle;
  //width: 100%;
}
.footer {
  display: table-row;
  height:1px;
  line-height: 2em;
  background-color: #123456;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#123456+0,123456+50&0+0,1+25 */
  background: -moz-linear-gradient(top,  rgba(18,52,86,0) 0%, rgba(18,52,86,1) 25%, rgba(18,52,86,1) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(18,52,86,0) 0%,rgba(18,52,86,1) 25%,rgba(18,52,86,1) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(18,52,86,0) 0%,rgba(18,52,86,1) 25%,rgba(18,52,86,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00123456', endColorstr='#123456',GradientType=0 ); /* IE6-9 */
  color: #aaaaaa;
}
.footer a{
  color: #ffffff;
  padding: 2px 10px 2px 10px;
  border-radius: 20px;
}
.footer a:hover{
  background-color: #113456;
  color: #000000;
  padding: 2px 10px 2px 10px;
  text-decoration: inherit;
}

/*====== Ignore section below ======*/
/* Basic Style*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img{
	display: inline-block;
}

$width: 80vw;
$height: 80vw;
$max-height: 80vh;
$max-width: 80vh;
$degrees: 0deg;

/* === Custom styling depending on the project === */
.simon{
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: $width;
  height: $height;
  max-height: $max-height;
  max-width: $max-width;
}

.simon-part{
  position: relative;
  width: $width / 2;
  height: $height / 2;
  max-height: $max-height / 2;
  max-width: $max-width / 2;
}

.simon-part-left{
  @extend .simon-part;
  float: left;

}
.simon-part-right{
  @extend .simon-part;
  float: right;
}
.simon-part-click{
  @extend .simon-part;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  transform: rotate($degrees);
  z-index: 2;
}
.simon-part-middle{
  //background: url(images/middle2.png) no-repeat center center fixed;
  position: absolute;
  width: $width * (350/900);
  height: $height * (350/900);
  max-height: $max-height * (350/900);
  max-width: $max-width * (350/900);

  top: 24.35vh;
  left: 24.4vh;  
}
.display{ //100 x 75 - 900x900
  position: absolute;
  width: $width * (100/900);
  height: $height * (75/900);
  max-width: $max-width * (100/900);
  max-height: $max-height * (75/900);
  background-color: red;
  border: 0.04em solid #000000;
  border-radius: 5px;
  top: 39vh;
  left: 27.5vh;
  font-size: 2em;
}

#on-off{

}

#start{
  position: absolute;
  width: $width * (40/900);
  height: $height * (40/900);
  max-width: $max-width * (40/900);
  max-height: $max-height * (40/900);
  border: 0.04em solid #000000;
  background-color: red;
  border-radius: 50%;
  top: 41vh;
  left: 39vh;
}
#strict{
  position: absolute;
  width: $width * (40/900);
  height: $height * (40/900);
  max-width: $max-width * (40/900);
  max-height: $max-height * (40/900);
  border: 0.04em solid #000000;
  background-color: yellow;
  border-radius: 50%;
  top: 41vh;
  left: 46vh;
}

.count{
  font-size: 2vh; /* This controls the size. */ 
  position: absolute;
  width: $width * (40/900);
  height: $height * (40/900);
  max-width: $max-width * (40/900);
  max-height: $max-height * (40/900);
  top: 46vh;
  left: 29vh;  
}

.start-txt{
  //font-size: 2vh; /* This controls the size. */ 
  position: absolute;
  width: $width * (40/900);
  height: $height * (40/900);
  max-width: $max-width * (40/900);
  max-height: $max-height * (40/900);
  top: 46vh;
  left: 37.5vh;
}

.strict-txt{
  //font-size: 2vh; /* This controls the size. */ 
  position: absolute;
  width: $width * (40/900);
  height: $height * (40/900);
  max-width: $max-width * (40/900);
  max-height: $max-height * (40/900);
  top: 46vh;
  left: 45vh;  
}

/* === [ ON/OFF button ] === */
/* The switch - the box around the slider */
.switch {
  position: absolute;
  //width: $width * (180/900);
  //height: $height * (90/900);
  //max-width: $max-width * (180/900);
  //max-height: $max-height * (90/900);
  top: 50vh;
  left: 35vh;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

input {display:none;}

/* The slider */
.slider {         // casing for the switch
  position: absolute;
  width: $width * (90/900);
  height: $height * (35/900);
  max-width: $max-width * (90/900);
  max-height: $max-height * (35/900);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-color: #4d4d4d;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {    // inner switch
  position: absolute;
  content: "";
  width: $width * (60/900);
  height: $height * (35/900);
  max-width: $max-width * (60/900);
  max-height: $max-height * (35/900);
  left: 0;
  top: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX( $max-width * (10/900) );
  -ms-transform: translateX( $max-width * (10/900) );
  transform: translateX( $max-width * (30/900) );
}

/* DEBUG */
.border{
  border: 5px solid #222223;
}